body, input, select, textarea {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

html {
    background-color: #E9E9E9;
    color: #353434;
    font-size: 13px;
}

#main-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#main-container #main-header {
    height: 110px;
    display: block;
    overflow: hidden;
}

#main-container #main-header #logo {
    width: 30%;
    float: left;
    display: block;
}

#main-container #main-header #logo #logo-title {
    display: block;
    font-size: 25px;
    text-transform: uppercase;
}

#main-container #main-header #logo #logo-subtitle {
    display: block;
    font-size: 35px;
    font-weight: bold;
    color: #72BE00;
    text-transform: uppercase;
}

#main-container #main-header #logo #logo-description {
    display: block;
    font-size: 14px;
}

#main-container #main-header #header-content {
    width: 70%;
    float:right;
    display: block;
}

#main-container #main-body {
    background-color: #F9F9F9;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
}

#main-container #main-body #main-menu {
    
}

#main-container #main-body #main-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#main-container #main-body #main-menu ul li {
    float: left;
    border-right: 1px solid #BBBBBB;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#main-container #main-body #main-menu ul li:first-child {
    padding-left: 0px;
}

#main-container #main-body #main-menu ul li:last-child {
    border-right: none;
}

#main-container #main-body #main-menu ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

#main-container #main-body #main-menu a:link {
    color: #353434;
    font-weight: bold;
    text-decoration: none;
}

#main-container #main-body #main-menu a:hover {
    color: #72BE00;
    text-decoration: none;
}

#main-container #main-body #main-menu a:first-child {
    padding-left: 0px !important;
}

#main-container #main-body #main-footer {
    
}

#main-container #main-body #main-footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#main-container #main-body #main-footer ul li {
    float: left;
}

#main-container #main-body #main-footer ul li a {
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

#main-container #main-body #main-footer a:link {
    color: #353434;
    font-weight: bold;
    text-decoration: none;
}

#main-container #main-body #main-footer a:hover {
    color: #72BE00;
    text-decoration: none;
}

#main-container #main-body #main-footer ul li a:first-child {
    padding-left: 0px !important;
}

#main-container #main-body #main-footer #footer-legals {
}

#main-container #main-body #main-footer #footer-legals #footer-copyright {
}

#main-container #main-body #main-footer #footer-legals .policy {
    margin-left: 10px;
}

hr {
   display: block;
   position: relative;
   padding: 0;
   margin: 5px auto;
   height: 0;
   width: 100%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}

