body, input, select, textarea {
    color: #333333;
    font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

input, select, textarea {
    border: 1px solid #CDCDCD;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

h1, h2, h3, h4, h5 {
    padding: 2px;
    margin: 0px;
    margin-bottom: 15px;
    color: #4CAF50;
}

h1 {
    font-size: 18px;
}

html {
    background-color: #E9E9E9;
    color: #353434;
    font-size: 13px;
}

html, html a {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

select {
    border: 1px solid #DBDBDB;
    border-radius: 0px;
    height: 25px;
    font-size: 13px;
    padding: 10px;
}

input {
    border: 1px solid #DBDBDB;
    border-radius: 0px;
    height: 25px;
    font-size: 13px;
}

input[type=submit] {
    color: #FFFFFF;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
}

.event-message-container {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
}

.button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.button.btn-green {
    background-color: #4CAF50;
}

.button.btn-blue {
    background-color: #008CBA;
}

.button.btn-red {
    background-color: #f44336;
}

.button.btn-gray {
    background-color: #e7e7e7; color: black;
}

.button.btn-black {
    background-color: #555555;
}

.c-left {
    text-align: left;
}

.c-bold {
    font-weight: 700;
}

#main-container {
    min-width: 365px;
    border: 1px solid #CACACA;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #F9F9F9;
    position: relative;
    border-radius: 5px;
}

#main-container .row-low {
    background-color: #FFFFFF;
}

#main-container .row-high {
    background-color: #F9F9F9;
}

#main-body table {
    padding: 0;
    margin: 0;
    border: 1px solid #9F9F9F;
    border-bottom: 0px;
    border-spacing: 0px;
    border-collapse: separate;
    width: 100%;
    border-radius: 5px;
}

#main-body table tr {
    text-align: center;
}

#main-body table tr.tbl-title {
    background-color: #71D075;
}

#main-body table tr.tbl-subtitle {
    background-color: #B4EEB6
}

#main-body table tr:first-child {
    text-align: center;
    font-weight: bold;
}

#main-body table td {
    padding: 3px;
    margin: 0;
    border-right: 1px solid #9F9F9F;
    border-bottom: 1px solid #9F9F9F;
}

#main-body table td:last-child {
    border-right: 0px;
}

#main-container #login-container {
    margin: 0 auto;
    width: 330px;
    padding: 10px;
}

#main-container #login-container h1 {
    color: #4CAF50;
}

#main-container #login-container input {
    border: 1px solid #DBDBDB;
    border-radius: 0px;
    height: 25px;
    width: 93%;
    font-size: 13px;
    color: #585858;
    padding: 10px;
}

#main-container #login-container input[type=submit] {
    color: #FFFFFF;
    font-weight: bold;
    height: 35px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#main-container #main-menu {
    margin:0 auto;
}

nav{
    display:block;
    border-bottom: 1px solid;
}

.menu {
    display:block;
}

.menu li {
    display: inline-block;
    position: relative;
    z-index:100;
}

.menu li:first-child {
    margin-left:0;
}

.menu li a {
    text-decoration:none;
    padding:11px;
    display:block;

    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.menu li a:hover, .menu li:hover > a{
    color: #FFFFFF;
    background: #4CAF50;
}

.menu ul {
    display: none;
    margin: 0;
    padding: 0;
    width: 150px;
    position: absolute;
    top: 37px;
    left: 0px;
    background: #ffffff;
}

.menu ul li {
    display:block;
    float: none;
    background:none;
    margin:0;
    padding:0;
}

.menu ul li a {
    font-size:12px;
    font-weight:normal;
    display:block;
    color:#797979;
    border-left:3px solid #ffffff;
    background:#ffffff;
}

.menu ul li a:hover, .menu ul li:hover > a {
    background:#f0f0f0;
    border-left:3px solid #4CAF50;
    color:#797979;
}

.menu li:hover > ul{
    display: block;
}

.menu ul ul {
    left: 149px;
    top: 0px;
}

.mobile-menu {
    display: none;
    width: 100%;
    padding: 11px;
    text-transform: uppercase;
}
.mobile-menu:hover {
    color: #ffffff;
    text-decoration: none;
}

@media (min-width: 768px) and (max-width: 979px) {

    .menu ul {
        top:30px;
    }
    .menu li a{
        font-size:12px;
        padding:8px;
    }
}

@media (max-width: 767px) {

    #main-menu {
        width:auto;
    }

    .menu {
        display:none;
    }

    .mobile-menu {
        display:block;
    }

    nav{
        margin:0;
        background:none;
    }

    .menu li{
        display:block;
        margin:0;
    }

    .menu li a {
        background:#ffffff;
        color:#797979;
        border-top:1px solid #e0e0e0;
        border-left:3px solid #ffffff;
    }

    .menu li a:hover, .menu li:hover > a {
        color: #FFFFFF;
        background: #4CAF50;
        border-left:3px solid #4CAF50;
    }

    .menu ul {
        display:block;
        position:relative;
        top:0;
        left:0;
        width:100%;
    }

    .menu ul ul {
        left:0;
    }

}

@media (max-width: 480px) {}

@media (max-width: 320px) {}


#main-container #main-body {
    margin-top: 10px;
    padding: 10px;
}

.form-row {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

.form-row label {
    margin: 0 5px 0 0;
    font-weight: 700;
    position: relative;
    padding: 7px 11px 5px 0;
}

#main-container #main-footer {
    position: relative;
}

#career-selector {
    margin-bottom: 20px;
}

#career-selector select {
    margin-left: 10px;
}

#career-selector input {
    margin-left: 15px;
}

#student-selector {
    margin-bottom: 20px;
}

#student-selector select {
    margin-left: 10px;
}

#student-selector input {
    margin-left: 15px;
}

#reg-student-cathedras-actions {
    margin-top: 20px;
}

#main-footer #footer-copyright {
    padding: 5px;
    font-size: 11px;
    text-align: center;
}
