body, input, select, textarea {
    font-family: Arial,Helvetica,"Nimbus Sans L",sans-serif;
}

input, select, textarea {
    border: 1px solid #CDCDCD;
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

h1, h2, h3, h4, h5 {
    margin: 2px;
    padding: 0;
}

h1 {
    font-size: 20px;
}

html {
    background-color: #E9E9E9;
    color: #353434;
    font-size: 13px;
}

ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

.button {
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.button.btn-green {
    background-color: #4CAF50;
}

.button.btn-blue {
    background-color: #008CBA;
}

.button.btn-red {
    background-color: #f44336;
}

.button.btn-gray {
    background-color: #e7e7e7; color: black;
}

.button.btn-black {
    background-color: #555555;
}

#main-container {
    border: 1px solid #3C3C3C;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #F9F9F9;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#main-container #login-container {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

#main-container #main-menu {
    overflow: hidden;
}

#main-container #main-menu ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    float:left;
    margin-right: 10px;
}

#main-container #main-menu a:link {
    color: #353434;
    font-weight: bold;
    text-decoration: none;
}

#main-container #main-menu a:hover {
    color: #72BE00;
    text-decoration: none;
}

#main-container #main-body {
    margin-top: 10px;
    padding: 10px;
    padding-top: 0px;
}

.form-row {
    padding: 5px;
}

.form-row label {
    margin: 0 5px 0 0;
    font-weight: 700;
    display: inline-block;
    position: relative;
    padding: 7px 11px 5px 0;
}
